/* General  */
body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  line-height: 1.2;
}
.container {
  width: 1000px;
  margin-inline: auto;
}

.logo {
  width: 10rem;
  margin-top: 3rem;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/*  Welcome  */
.h1-welcome {
  font-size: 6rem;
  font-weight: 300;
  line-height: 0.7;
  margin-top: 7rem;
}

.h1-welcome b {
  font-weight: 800;
  /*  mettere un font diverso  */
}
.inline-block {
  display: inline-block;
}

.h3-welcome {
  color: #c2128d;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.p-welcome {
  font-size: 1.3rem;
}

ul {
  padding-left: 1rem;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

#proced-button {
  margin-left: 6rem;
  cursor: pointer;
  background-color: #00ffff;
  border: none;
  -webkit-box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);
  box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);
  font-size: 1.2rem;
  padding: 1rem 3.5rem;
  font-weight: bold;
}
.margin-top-welcome {
  margin-top: 7rem;
}
