body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  line-height: 1;
}
.conteiner {
  width: 1000px;
  margin-inline: auto;
}

.logo {
  width: 5rem;
  margin-top: 3rem;
}
h1 {
  font-size: 3rem;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.h3-result {
  font-weight: 400;
}

.block-result {
  display: inline-block;
  width: 33%;
}
.block-result:nth-child(2) {
  font-size: 1rem;
}
.block-result:nth-child(2) h4:nth-child(2) {
  color: #00ffff;
}

.block-result:nth-child(2) .accent-color {
  color: #00ffff;
  font-size: 60px;
}
.block-result:nth-child(2) p {
  font-size: 0.6rem;
}
.proced-button {
  background-color: #00ffff;
  border: none;
  -webkit-box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);
  box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);

  font-size: 2rem;
  padding: 1rem 3.5rem;
  font-weight: bold;
}
.rate-us-button {
  margin-top: 4rem;
  border: 2px solid white;
  background: #ffffff00;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 3rem 0.5rem;
}
