/* General  */
body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-size: 16px;
}
.container {
  width: 1000px;
  margin-inline: auto;
}

.logo {
  width: 8rem;
  margin-top: 3rem;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.h1-result {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0;
}
.h3-result {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.block-result {
  display: inline-block;
  margin: 4rem;
  width: 20%;
}
.block-result:nth-child(1) {
}
.block-result:nth-child(2) h4:nth-child(2) {
  color: #00ffff;
}
.block-result:nth-child(3) {
}

.true-false {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0px;
}
.num {
  font-size: 3rem;
  margin: 0px;
}
.questions {
  font-size: 1rem;
  margin: 0px;
  font-weight: 100;
}
.rate-us-button {
  margin-top: 1.2rem;
  font-weight: 600;
  border: 3px solid white;
  background: #ffffff00;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem 1rem;
  -webkit-box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.043);
  box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.1);
}
