/* General  */
* {
  box-sizing: content-box;
}
body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  line-height: 1;
}
.container {
  width: 1000px;
  margin-inline: auto;
}

.logo {
  width: 8rem;
  margin-top: 3rem;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/* benchmark */
.logo-beenchmark {
  width: 10rem;
  margin-top: 3rem;
}
.h1-beenchmark {
  text-align: center;
  margin: 8rem 0 4rem;
}

.timer {
  width: 8rem;
  float: right;
  margin: 2rem 2rem 0 0;
}
.answer-button-color {
  color: white;
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 21%,
    rgba(144, 0, 128, 1) 100%
  );
  border-radius: 50px;
  -webkit-box-shadow: inset 2px 2px 2px 2px #ffffff;
  -moz-box-shadow: inset 2px 2px 2px 2px #ffffff;
  -o-box-shadow: inset 2px 2px 2px 2px #ffffff;
  box-shadow: inset 2px 2px 2px 2px #ffffff;
  border-image-slice: 1;
  border-image-width: 4px;
  padding: 1.8rem 1rem 1.8rem;
  display: inline-block;
  width: 40%;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.wait-button-color {
  color: white;
  background-color: #23294f;
  border-radius: 50px;
  -webkit-box-shadow: inset 2px 2px 2px 2px #ffffff;
  -moz-box-shadow: inset 2px 2px 2px 2px #ffffff;
  -o-box-shadow: inset 2px 2px 2px 2px #ffffff;
  box-shadow: inset 2px 2px 2px 2px #ffffff;
  border-radius: 50px;
  padding: 1.8rem 1rem 1.8rem;
  display: inline-block;
  width: 40%;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.question-footer {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.5rem;
}

#beenchmark-footer {
  margin-top: 4rem;
  display: inline-block;
}
.question-color {
  color: white;
  font-size: 1.5rem;
}
.question-color2 {
  color: #c2138c;
  font-size: 1.5rem;
}
